<% @post_favorite = PostFavorite.find_by(post_favorite_user: current_user.id) %>
<% if post.post_favorite_middles.where(post_favorite_id: current_user.id).exists? %>
	<%= link_to post_favorite_path(post.id), method: :delete, class:"link", remote: true do %>
		<i class="fas fa-heart user_show_post_after_favorite_favorite"></i>
		<span class="user_show_post_favorite_count teams_show_right_box_good_count"><%= post.post_favorite_middles.count %></span>
	<% end %>
<% else %>
	<%= link_to post_favorites_path(post_id: post.id), method: :post, class:"link", remote: true do %>
		<i class="far fa-heart user_show_post_before_favorite_favorite"></i>
		<span class="user_show_post_favorite_count teams_show_right_box_good_count"><%= post.post_favorite_middles.count %></span>
	<% end %>
<% end %>

