<!-- チームメンバー編集画面の箱 -->
<div class="teams_member_edit_box">

	<!-- チームメンバー編集画面のタイトルタイトル -->
	<div class="teams_member_edit_box_title">
		<%= "#{@team.team}　メンバー編集" %>
	</div>
	<!-- チームメンバー編集画面のタイトルタイトルfin -->


</div>
<!-- ユーザーメンバー編集画面の箱fin -->