<!-- チームメンバー画面の箱 -->
<div class="teams_member_box">

	<!-- チームメンバー画面のタイトル -->
	<div class="teams_member_box_title">
		<%= "#{@team.team}　メンバー" %>
	</div>
	<!-- チームメンバー画面のタイトルタイトルfin -->


</div>
<!-- ユーザーメンバー画面の箱fin -->