<!-- チーム詳細の箱 -->
<div class="teams_show_box">

	<!-- チーム詳細の1行目の箱 -->
	<div class="teams_show_box_row1 clearfix">

		<!-- チーム詳細の1行目の画像の位置 -->
		<div class="teams_show_box_row1_image_position">
			<%= attachment_image_tag @team, :team_image, :fill, 300, 300, fallback: "no_image.jpg", class: "teams_show_box_row1_image" %>
		</div>
		<!-- チーム詳細の1行目の画像の位置fin -->


		<!-- チーム詳細の1行目の右側の箱 -->
		<div class="teams_show_box_row1_right_position">

			<!-- チーム詳細の1行目の右側のチーム名 -->
			<div class="teams_show_box_row1_team_name">
				<%= @team.team_name %>
			</div>
			<!-- チーム詳細の1行目の右側のチーム名fin -->

			<!-- チーム詳細の1行目の右側のお気に入りの数 -->
			<div class="teams_show_box_row1_props">
				<span class="teams_show_box_row1_props_favorite">FAVORITE
				</span>
				<span class="teams_show_box_row1_props_favorite_count">
					<%= @favorites.count %>
				</span>
			</div>
			<!-- チーム詳細の1行目の右側のお気に入りの数fin -->

		</div>
		<!-- チーム詳細の1行目の右側の箱fin -->

	</div>
	<!-- チーム詳細の1行目の箱fin -->



	<!-- チーム詳細の2行目の箱 -->
	<div class="teams_show_box_row2">

		<!-- チーム詳細の2行目のMEMBERボタン -->
		<div class="teams_show_box_row2_btn">
			RECORD
		</div>

		<!-- チーム詳細の2行目のTALKボタン -->
		<div class="teams_show_box_row2_btn">
			TALK
		</div>

		<!-- チーム詳細の2行目のRECORDボタン -->
		<div class="teams_show_box_row2_btn">
			MEMBER
		</div>
	</div>
	<!-- チーム詳細の2行目の箱fin -->



	<!-- チーム詳細の3行目の箱(レコード) -->
	<div class="teams_show_box_row3">
	</div>
	<!-- チーム詳細の3行目の箱fin -->

	<!-- チーム詳細の3行目の箱(トーク) -->
	<div class="teams_show_box_row3">
		<div class="teams_show_box_row3_talk_box">
		</div>
	</div>
	<!-- チーム詳細の3行目の箱(トーク)fin -->

	<!-- チーム詳細の3行目の箱(メンバー) -->
	<div class="teams_show_box_row3">
	</div>
	<!-- チーム詳細の3行目の箱(メンバー)fin -->



</div>
<!-- チーム詳細の箱fin -->



<% if @team.members.where(user_id: current_user.id).exists? %>
	<!-- チーム詳細画面の画像投稿ボタン -->
	<%= link_to new_post_path(team_id: @team.id), class:"teams_show_new_post_btn_link" do %>
		<div class="teams_show_new_post_btn">
			<i class="fas fa-camera"></i>
			<p>投稿</p>
		</div>
	<% end %>
	<!-- チーム詳細画面の投稿ボタンfin -->
<% end %>












