<p><%= "#{@user.name} 様" %></p>

<p><%= "#{@team.team_name} からチームへ招待されています。" %></p>
<p>チームに加入される場合は、下記の『チームを参加する』というリンクをクリックしてください。</p>
<p>『チームを参加する』リンクのクリックが完了すると、チームへの参加が認められます。</p>

<%= link_to "チームへ参加する", "/teams/#{@team.id}/member/#{@user.id}/invite" %>