<!-- ユーザーマイページ左側の箱 -->
<div class="users_mypage_box">

		<div class="users_mypage_left_box_edit_page">
			<%= link_to user_edit_path do %>
				<i class="fas fa-ellipsis-h"></i>
			<% end %>
		</div>

		<!-- ユーザーマイページ左側の箱のプロフ画像 -->
		<div class="users_mypage_left_box_image_position">
			<%= attachment_image_tag current_user, :image, :fill, 200, 200, fallback: "/images/no_image.jpg", class: "users_mypage_left_box_image" %>
		</div>

		<div class="users_mypage_left_box_title_name">
			名前
		</div>

		<div class="users_mypage_left_box_name">
			<%= current_user.name %>
		</div>

		<div class="users_mypage_left_box_title_team">
			所属チーム
		</div>

		<!-- 所属しているチームの表示 -->
		<div class="users_mypage_left_box_team">
			<% current_user.teams.each do |team| %>
				<div class="users_mypage_left_box_team_row">
					<%= link_to "・#{team.team_name}", team_path(team.id) %>
				</div>
			<% end %>
		</div>
		<!-- 所属しているチームの表示fin -->

		<!-- 所持ポイントのタイトル -->
		<div class="users_mypage_point_title">
			所持ポイント
		</div>
		<!-- 所持ポイントのタイトルfin -->

		<!-- 所持ポイント -->
		<div class="users_mypage_point">

		</div>
		<!-- 所持ポイントfin -->



</div>
<!-- ユーザーマイページ左側の箱fin -->