@charset "UTF-8";
/*----------------------------------------------チームの新規作成画面----------------------------------------------*/
/*チーム新規作成の箱*/
/* line 9, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box {
  /*	background-color: grey;*/
  height: 600px;
  width: 40%;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 2%;
  border: solid 1px #666666;
  box-shadow: 0 0 10px 1px #F2F2F2;
  border-radius: 15px;
}

/*チーム新規作成の箱の幅*/
/* line 22, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box_wide {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

/*チーム新規作成画面のタイトル*/
/* line 29, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box_title {
  margin-top: 5%;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

/*チーム新規作成画面のチーム名入力フォームのタイトル*/
/* line 37, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box_team_name_form_title {
  width: 100%;
  margin-top: 5%;
}

/*チーム新規作成画面のチーム名入力フォームの位置*/
/* line 43, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box_team_name_form_position {
  /*	height: 40px;
  	background-color: red;*/
  width: 100%;
}

/*チーム新規作成画面のチーム名入力フォーム*/
/* line 50, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box_team_neme_form {
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: #333333;
}

/*チーム新規作成画面の画像選択のフォームの位置*/
/* line 58, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box_team_image_form_position {
  margin-top: 15%;
}

/*チーム新規作成画面の画像のプレビュー表示の位置*/
/* line 63, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box_team_image_preview_position {
  width: 300px;
  margin: 0 auto;
  margin-top: 1%;
}

/*チーム新規作成画面の画像のプレビュー表示*/
/* line 70, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box_team_image_preview {
  width: 300px;
  height: 300px;
  border: dotted 2px #666666;
}

/*チーム新規作成画面の新規作成ボタンの位置*/
/* line 77, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box_new_team_btn_position {
  width: 100;
  text-align: center;
}

/*チーム新規作成画面の新規作成ボタン*/
/* line 84, /vagrant/squad/app/assets/stylesheets/teams.scss */
.teams_new_box_new_team_btn {
  margin-top: 3%;
}
