/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:Helvetica,HiraKakuProN-W3,'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	color: #333333;
	background-color: #e6ecf0;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}


/*----------------------------------------------------ヘッダー------------------------------------------------------*/

header {
	background-color: #F6891F;
	width: 100%;
	height: 70px;
	border: solid 1px #a95607;
	box-shadow: 0 1px 3px 2px rgba(0,0,0,0.25);
}

/*ヘッダーの要素の幅*/
.header_wide {
	width: 70%;
	margin: 0 auto;
}

/*ヘッダー要素の左側(タイトル)*/
.header_left {
	font-size: 40px;
	color: white;
	float: left;
	line-height: 70px;
}

/*ヘッダー要素左側のリンクの調整(未訪問)*/
.header_left_link:link {
	color: white;
	text-decoration: none;
}

/*ヘッダー要素左側のリンクの調整(訪問後)*/
.header_left_link:visited {
	color: white;
	text-decoration: none;
}

/*ヘッダー要素左側のリンクの調整(マウス)*/
.header_left_link:hover {
	color: white;
	cursor: pointer;
}


html,body {
	height: 100%;
}

.wrap {
	width: 100%;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.contents {
	padding-bottom: 70px;
	clear: left;
}


/*フッダー*/
footer {
	width: 100%;
	background-color: #2a2d33;
	height: 70px;
	position: absolute;
	bottom: 0px;
	border: solid 1px #23262b;
	box-shadow: 0 -1px 3px 3px rgba(0,0,0,0.25);
	overflow: hidden;
}

/*フッターの中身の要素の位置関係*/
.footer_wide {
	width: 70%;
	margin: 0 auto;
}

/*フッダー要素の中身の右側の位置(リンク3つの要素をまとめてfloat)*/
.footer_right {
	width: 40%;
	float: right;
	text-align: right;
	line-height: 70px;
}

/*フッダー要素の右側のリンク関係*/
.footer_right_link {
	float: left;
	text-decoration: none;
	padding: 0 5%;
}

/*フッターの右側に表示されるボタン*/
.footer_right_link {
	color: white;
	text-decoration: none;
}

.footer_right_link:visited {
	color: white;
	text-decoration: none;
}

.footer_right_link:hover {
	background-color: #31353c;
}













