* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:Helvetica,HiraKakuProN-W3,'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	color: #3c3c3c;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

header {
	background-color: #F6891F;
	width: 100%;
	border: solid 1px #a95607;
}

/*ヘッダーの要素の幅*/
.header_wide {
	width: 84%;
	margin: 0 auto;
	text-align: center;
}

/*ヘッダー要素の左側(タイトル)*/
.header_left {
	width: 15%;
	font-size: 45px;
	color: white;
	margin: 1% 0;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}


/*ヘッダー要素の真ん中（検索）*/
.header_center {
	width: 35%;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 1%;
	font-size: 18px;
	color: white;
}


/*ヘッダー要素の右側*/
.header_right {
	width: 35%;
	display: inline-block;
	text-align: right;
	vertical-align: bottom;
	margin-bottom: 1%;
}

header ul {
}

header ul li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
	font-size: 18px;
	color: white;
}