// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*新規投稿画面の箱*/
.posts_new_box {
/*	height: 1000px;*/
	width: 700px;
	margin: 0 auto;
	background-color: white;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2%;
}



/*新規投稿画面のタイトル*/
.posts_new_box_title {
	width: 100%;
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 4%;
}

/*プレビューのフォーム*/
#post_new_image_select_form {
	display: none;
}

/*プレビューの箱*/
.post_new_image_form {
	width: 400px;
	height: 400px;
	background-color: #CCCCCC;
    border: dashed 1px #666666;
	margin: 0 auto;
	margin-bottom: 5%;
}

.post_new_image_form:hover {
	cursor: pointer;
}

.post_new_image_form > p {
	line-height: 400px;
	text-align: center;
}

.post_image_preview {
	vertical-align: top;
	width: 100%;
	height: 100%;
}










/*文章の投稿の箱*/
.post_new_box_post_sentence_box {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 5%;
}

/*文章の投稿フォーム*/
.post_new_box_post_sentence {
	width: 400px;
	height: 150px;
	font-size: 15px;
	outline: none;
}




/*新規投稿画面の投稿ボタンの箱*/
.post_new_box_post_btn_box {
	width: 100%;
	text-align: center;
}

/*新規投稿画面投稿ボタン*/
.post_new_button {
    border: solid 1px #2EB8EA;
    padding: 1% 20%;
    font-size: 15px;
	background-color: #00aced;
	outline: none;
	color: white;
}

.post_new_button:hover {
	cursor: pointer;
	background-color: #46BEEA;
}








