// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*----------------------------------------------チームの新規作成画面----------------------------------------------*/

/*チーム新規作成の箱*/
.teams_new_box {
/*	background-color: grey;*/
/*	height: 600px;*/
	width: 40%;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 2%;
	border: solid 1px #666666;
	box-shadow: 0 0 10px 1px #F2F2F2;
	border-radius: 15px;
}

/*チーム新規作成の箱の幅*/
.teams_new_box_wide {
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
}

/*チーム新規作成画面のタイトル*/
.teams_new_box_title {
	margin-top: 5%;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
}

/*チーム新規作成画面のチーム名入力フォームのタイトル*/
.teams_new_box_team_name_form_title {
	width: 100%;
	margin-top: 5%;
}

/*チーム新規作成画面のチーム名入力フォームの位置*/
.teams_new_box_team_name_form_position {
/*	height: 40px;
	background-color: red;*/
	width: 100%;
}

/*チーム新規作成画面のチーム名入力フォーム*/
.teams_new_box_team_neme_form{
	width: 100%;
	height: 30px;
	font-size: 14px;
	color: #333333;
}

/*チーム新規作成画面の画像選択のフォームの位置*/
.teams_new_box_team_image_form_position {
	margin-top: 5%;
}

/*チーム新規作成画面の画像のプレビュー表示の位置*/
.teams_new_box_team_image_preview_position {
	width: 300px;
	margin: 0 auto;
	margin-top: 1%;
}

/*チーム新規作成画面の画像のプレビュー表示*/
.teams_new_box_team_image_preview{
	width: 300px;
	height: 300px;
	border: dotted 2px #666666;
}

/*チーム新規作成画面の新規作成ボタンの位置*/
.teams_new_box_new_team_btn_position {
	width: 100;
	text-align: center;
}

/*チーム新規作成画面の新規作成ボタン*/
.teams_new_box_new_team_btn {
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 2%;
	width: 60%;
	background-color: #00D868;
	color: white;
}

/*チーム新規作成画面の新規作成ボタンにマウスを置いたとき*/
.teams_new_box_new_team_btn:hover {
	background: linear-gradient(to bottom, #00F275, #00FF7F);
	cursor: pointer;
}

/*チーム新規作成画面の新規作成ボタンを押したとき*/
.user_mypage_edit_right_box_save_btn:active {
	outline: none;
}

/*---------------------------------------チーム詳細画面(メンバーが見た場合,メンバー以外が見た場合)---------------------------------------*/

/*チーム詳細画面の箱*/
.teams_show_box {
	background-color: grey;
	width: 60%;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	clear: both;
}

/*チーム詳細画面の1行目の箱*/
.teams_show_box_row1 {
	background-color: red;
	width: 100%;
	padding: 5%;
}

/*チーム詳細の1行目の画像の位置*/
.teams_show_box_row1_image_position {
	float: left;
}

/*チーム詳細画面のチーム画像*/
.teams_show_box_row1_image {
	width: 300px;
	height: 300px;
}

/*チーム詳細の1行目の右側の箱*/
.teams_show_box_row1_right_position {
	width: 430px;
	float: left;
	text-align: center;
}

/*チーム詳細の1行目の右側のチーム名*/
.teams_show_box_row1_team_name {
	text-align: center;
	margin-top: 10%;
	font-weight: bold;
	font-size: 24px;
	white-space: nowrap;
	overflow-x: scroll;
	height: 45px;
}

/*チーム詳細の1行目の右側のお気に入りの数*/
.teams_show_box_row1_props {
	margin-top: 5%;
}

/*チーム詳細の1行目 FAVORITEの文字*/
.teams_show_box_row1_props_favorite {
	font-size: 18px;
}

/*チーム詳細の1行目のFAVORITEの数*/
.teams_show_box_row1_props_favorite_count {
	font-size: 26px;
	font-weight: bold;
}



/*チーム詳細の2行目*/
.teams_show_box_row2 {
	background-color: green;
	text-align: center;
}

/*チーム詳細の2行目のボタン*/
.teams_show_box_row2_btn {
	background-color: blue;
	width: 20%;
	display: inline-block;
	margin: 0 2%;
	font-size: 28px;
	height: 50px;
	line-height: 50px;
}

/*チーム詳細の3行目の箱(3つとも)*/
.teams_show_box_row3 {
	background-color: orange;
	height: 1000px;
	border: solid 1px #666666;
}

/*チーム詳細の3行目の箱トーク*/
.teams_show_box_row3_talk_box {
	background-color: pink;
	height: 600px;
	width: 80%;
	margin: 0 auto;
}











/*--------------------------------------------------------チームメンバー画面--------------------------------------------------------*/

/*チームメンバー画面の箱*/
.teams_member_box {
/*	background-color: grey;*/
/*	height: 900px;*/
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-top: 1%;
	border: solid 1px #e6ecf0;
	box-shadow: 0 0 10px 1px #F2F2F2;
	background-color: white;
}

/*チムメンバー画面の箱にマウスが乗るとき*/
.teams_member_box_member_box {
	cursor: hand;
	cursor: pointer;
}

/*チームメンバー画面のタイトル*/
.teams_member_box_title {
	width: 40%;
	margin: 0 auto;
	font-size: 23px;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 1%;
	display: inline-block;
	text-align: center;
}

/*チームメンバーのボタンの位置*/
.teams_member_box_btn_position {
	display: inline-block;
}

/*チームメンバー作成のボタン*/
.teams_member_box_create_team_btn {
}



/*タイトル下のチームメンバー全員が入る箱*/
.teams_member_box_all_member_box {
/*	height: 700px;*/
/*	background-color: yellow;*/
	width: 90%;
	margin: 0 auto;
	padding: 2%;
	text-align: center;

}

/*チームメンバー1人が入る箱*/
.teams_member_box_member_box {
/*	height: 500px;*/
/*	background-color: blue;*/
	width: 48%;
	display: inline-block;
	padding: 1% 1%;
	border: solid 1px #666666;
	box-shadow: 0 0 10px 1px #F2F2F2;
	border-radius: 15px;
}

/*チームメンバー1人の画像の位置*/
.teams_member_box_member_box_image_position {
	width: 100%;
}

/*チームメンバー1人の画像*/
.teams_member_box_member_image{
	width: 300px;
	height: 300px;
	border-radius: 150px;
}

/*チームメンバー1人の名前のタイトル*/
.teams_member_box_member_box_name_title {
	text-decoration: underline;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
}

/*チームメンバー1人の名前*/
.teams_member_box_member_box_name {
	text-align: left;
	margin-bottom: 3%;
	overflow: hidden;
}

/*チームメンバー1人のポジションのタイトル*/
.teams_member_box_member_box_position_title {
	text-decoration: underline;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
}

/*チームメンバー1人のポジション*/
.teams_member_box_member_box_position {
	text-align: left;
	margin-bottom: 3%;
	overflow: hidden;
}

/*チームメンバー1人の紹介のタイトル*/
.teams_member_box_member_box_introduction_title {
	text-decoration: underline;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
}

.teams_member_box_member_box_introduction {
	text-align: left;
	margin-bottom: 3%;
	overflow: hidden;
}

.teams_memver_box_member_box_modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	display: none;
	text-align: center;
}

.teams_member_box_member_box_after_click {
	width: 600px;
	height: 600px;
	padding-top: 1%;
	border: solid 1px #666666;
	box-shadow: 0 0 10px 1px #F2F2F2;
	background-color: white;
	text-align: center;
	margin-top: 3%;
}






/*----------------------------------------------------チームメンバー新規加入画面----------------------------------------------------*/

/*メンバー新規加入画面の箱*/
.teams_member_new_member {
	height: 500px;
	background-color: white;
	width: 70%;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	border: solid 1px #e6ecf0;
	box-shadow: 0 0 10px 1px #F2F2F2;
}









/*----------------------------------------------------チームメンバー編集画面----------------------------------------------------*/

/*チームメンバー編集画面の箱*/
.teams_member_edit_box {
	background-color: grey;
	height: 500px;
	width: 50%;
	margin: 0 auto;
	margin-top: 2%;
	overflow: hidden;
}

/*チームメンバー編集画面のタイトル*/
.teams_member_edit_box_title {
	width: 100%;
	text-align: center;
	font-size: 23px;
	margin-top: 3%;
	font-weight: bold;
}












