// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*----------------------------------------------チームの新規作成画面----------------------------------------------*/

/*チーム新規作成の箱*/
.teams_new_box {
/*	background-color: grey;*/
/*	height: 600px;*/
	width: 600px;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 5%;
	background-color: white;
    border: 2px solid #DDD
}

/*チーム新規作成の箱の幅*/
.teams_new_box_wide {
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
}

/*チーム新規作成画面のチーム名入力フォームの位置*/
.teams_new_box_team_name_form_position {
/*	height: 40px;
	background-color: red;*/
	width: 100%;
	margin-bottom: 10%;
}

/*チーム新規作成画面のチーム名入力フォーム*/
.teams_new_box_team_neme_form{
	width: 100%;
	height: 30px;
	font-size: 14px;
	color: #333333;
	outline: none;
}

#teams_new_box_team_image_form {
	display:none;
}

/*チーム新規作成画面の画像のプレビュー表示*/
.teams_new_box_team_image_preview{
	width: 300px;
	height: 300px;
	border: dotted 2px #666666;
	margin-bottom: 5%;
	background-color: #CCCCCC;
}

.teams_new_box_team_image_preview p {
	line-height: 300px;
	text-align: center;
}

.teams_new_box_team_image_preview:hover {
	cursor: pointer;
}

.teams_new_box_preview_image {
	width: 100%;
	height: 100%;
	vertical-align: top;
}



/*チーム新規作成画面の都道府県選択フォームの位置*/
.teams_new_box_place_form_position {
/*	background-color: pink;*/
	height: 50px;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 8%;
}


/*チーム新規作成画面の新規作成ボタンの位置*/
.teams_new_box_new_team_btn_position {
	text-align: center;
}

/*チーム新規作成画面の新規作成ボタン*/
.teams_new_box_new_team_btn {
	margin-bottom: 3%;
	padding: 2%;
	width: 300px;
	background-color: #00D868;
	color: white;
}

/*チーム新規作成画面の新規作成ボタンにマウスを置いたとき*/
.teams_new_box_new_team_btn:hover {
	background: linear-gradient(to bottom, #00F275, #00FF7F);
	cursor: pointer;
}

/*チーム新規作成画面の新規作成ボタンを押したとき*/
.user_mypage_edit_right_box_save_btn:active {
	outline: none;
}










/*---------------------------------------チーム詳細画面(メンバーが見た場合,メンバー以外が見た場合)---------------------------------------*/

/*ユーザーマイページのフォロー、チーム招待の行*/
.teams_show_users_follow_invite_row {
/*	background-color: orange;*/
	width: 200px;
	margin: 0 auto;
	margin-top: 2%;
	display: flex;
	justify-content: space-around;
}

/*ユーザーマイページのフォロ-ボタン*/
.teams_show_users_follow_btn {
	width: 90px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	background-color: #4183c4;
	color: white;
}

/*ユーザーマイページのフォロー中ボタン*/
.teams_show_users_follow_btn_after {
	width: 90px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	background-color: #AAAAAA;
	color: white;
}

/*ユーザーマイページの招待ボタン*/
.teams_show_users_invite_btn {
	width: 90px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	background-color: #1dcd00;
	color: white;
}

/*チーム詳細ページの地域のspan*/
.teams_show_place_icon {
	text-align: left;
	font-size: 14px;
	background-color: #F6891F;
	width: 80px;
	text-align: center;
	border-radius: 30px;
}







/*チーム詳細画面の画像投稿ボタンのリンク*/
.teams_show_new_post_btn_link {
	text-decoration: none;
	color: white;
}

/*チーム詳細画面の画像投稿ボタン*/
.teams_show_new_post_btn {
	width: 120px;
	height: 120px;
	text-align: center;
	border-radius: 60px;
	font-size: 25px;
	position: fixed;
	bottom: 5%;
	right: 15%;
	z-index: 50;
	background-color: #4183c4;
	color: white;
}

.fa-camera {
	color: white;
	font-size: 40px;
	margin-top: 20%;
}


/*いいねの個数を押したときのモーダル表示*/
.teams_show_favorite_count_modal {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}







/*--------------------------------------------------------チームメンバー画面--------------------------------------------------------*/

/*チームメンバーの1行*/
.teams_show_box_right_member_a_row {
/*	background-color: pink;*/
	padding: 5%;
	background-color: white;
	border: solid 1px #e6ecf0;
	box-shadow:1px 1px 5px 1px #555;
	margin-bottom: 2%;
	display: flex;
	flex-direction: row;
}

/*チームメンバーの*/

/*チームメンバーの右側の箱の画像の位置*/
.teams_show_box_right_member_a_row_image_position {
	/*background-color: orange;*/
	width: 100px;
	height: 100px;
	float: left;
}

/*チームメンバーの画像*/
.teams_show_box_right_member_a_row_image {
	width: 100px;
	height: 100px;
}

/**/
.teams_show_box_right_member_a_row_letter {
/*	background-color: gold;*/
	width: 70%;
/*	max-height: 200px;*/
	float: left;
	padding-left: 7%;
}

.teams_show_box_right_member_a_row_name_title {
	/*background-color: green;*/
	text-align: left;
	font-weight: bold;
}

.teams_show_box_right_member_a_row_name {
	/*background-color: orange;*/
	text-align: left;
	margin-left: 5%;
}

.teams_show_box_right_member_a_row_introduction_title {
	/*background-color: green;*/
	text-align: left;
	font-weight: bold;
}

.teams_show_box_right_member_a_row_introduction {
	/*background-color: orange;*/
	text-align: left;
	margin-left: 5%;
	max-height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
}



.comment_name_link {
	font-weight: bold;
	display: inline-block;
}






/*----------------------------------------------------チームメンバー新規加入画面----------------------------------------------------*/

/*メンバー招待画面の全体の箱*/
.teams_member_new_box {
/*	height: 600px;*/
	background-color: white;
	width: 600px;
	margin:0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2%;
	border: solid 2px #DDD;
}

/*メンバー招待画面のメンバー検索のフォームの位置*/
.teams_member_search_position {
/*	background-color: yellow;*/
	width: 500px;
/*	height: 40px;*/
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

/*メンバー招待画面のメンバー検索フォーム*/
.teams_member_serch_form {
	width: 60%;
	height: 40px;
	border: solid 1px #c1c1c1;
	border-right: none;
	outline: none;
}

.teams_member_search_btn {
	width: 10%;
	background-color: white;
	outline: none;
	border: none;
	border: solid 1px #c1c1c1;
}

.teams_member_search_btn:hover {
	cursor: pointer;
}

.teams_member_flash {
	width: 100%;
	background-color: #FFC0CB;
	color: #FF4500;
	text-align: center;
}



.teams_member_search_result_box {
	height: 200px;
/*	background-color: gold;*/
	width: 150px;
	border: solid 1px #c1c1c1;
	text-align: center;
}

.teams_member_search_result_box:hover {
	cursor: pointer;
}

/*選択されたリアルとボックス*/
.teams_member_search_resuli_box_active {
	border: solid 4px #3399FF;
}

.teams_member_new_box_flex {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.teams_member_new_user_image {
	width: 100%;
	height: 150px;
	vertical-align: top;
}

.teams_member_new_radio_button {
	display: none;
}

.teams_member_new_btn_position {
/*	background-color: blue;*/
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
}

.teams_member_new_btn {
	width: 100%;
	background-color: white;
	padding: 2%;
	border: solid 1px #c1c1c1;
	outline: none;
}

.teams_member_new_btn:hover {
	cursor: pointer;
}


/*----------------------------------------------------チームメンバー編集画面----------------------------------------------------*/

/*チームメンバー編集画面の箱*/
.teams_member_edit_box {
/*	background-color: grey;*/
/*	height: 1000px;*/
	background-color: white;
	width: 700px;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2% 0;
	border: solid 1px #e6ecf0;
	box-shadow: 0 0 10px 1px #F2F2F2;
}

/*チームメンバー編集画面のメンバーのタイトル*/
.teams_member_edit_box_member_title {
/*	background-color: yellow;*/
	width: 100%;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 2%;
}

/*チームメンバー編集画面のメンバー画像の位置*/
.teams_member_edit_box_member_image_potision {
/*	background-color: yellow;*/
	width: 100%;
	text-align: center;
	margin-bottom: 2%;
}

/*チームメンバー編集画面のメンバー画像*/
.teams_member_edit_box_member_image {
	vertical-align: top;
	border-radius: 100px;
	width: 200px;
	height: 200px;
}

/*チームメンバー編集画面のタイトル、画像以下の幅*/
.teams_member_edit_box_member_width {
/*	background-color: pink;*/
	width: 40%;
	margin: 0 auto;
}




/*チームメンバー編集画面のメンバーの名前のタイトル*/
.teams_member_edit_box_member_name_title {
/*	background-color: yellow;*/
	font-weight: bold;
	font-size: 21px;
	margin-bottom: 1%;
}

/*チームメンバー編集画面のメンバーの名前*/
.teams_member_edit_box_member_name {
/*	background-color: yellow;*/
	margin-bottom: 8%;
}




/*チームメンバー編集画面のメンバーのポジションのタイトル*/
.teams_member_edit_box_member_position_title {
/*	background-color: yellow;*/
	font-weight: bold;
	font-size: 21px;
	margin-bottom: 1%;
}

/*チームメンバー編集画面のポジション*/
.teams_member_edit_box_member_position {
	margin-bottom: 8%;
}

/*チームメンバー編集画面のメンバーのポジションのフォーム*/
.teams_member_edit_box_member_position_form {
	width: 100%;
	line-height: 25px;
	font-size: 16px;
	border: solid 1px #8a8d90;
}




/*チームメンバー編集画面の紹介のタイトル*/
.teams_member_edit_box_member_introduction_title {
/*	background-color: yellow;*/
	font-weight: bold;
	font-size: 21px;
	margin-bottom: 1%
}

/*チームメンバー編集画面の紹介*/
.teams_member_edit_box_member_introduction {
	margin-bottom: 5%;
}

/*チームメンバー編集画面の紹介のフォーム*/
.teams_member_edit_box_member_introduction_form {
	width: 100%;
	height: 150px;
	font-size: 16px;
	border: solid 1px #8a8d90;
}


/*----------------------------------------------------県毎のチーム画面----------------------------------------------------*/

/*県毎のチーム画面の箱*/
.teams_place_box {
/*	height: 500px;*/
	background-color: white;
	width: 700px;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2%;
}




/*県毎のチーム画面の箱のタイトル*/
.teams_place_box_title {
	width: 100%;
	text-align: center;
	margin-bottom: 3%;
	font-size: 19px;
}




/*県毎のチーム画面のリンク*/
.teams_place_box_link {
	text-decoration: none;
	color: #333333;
}

/*県毎のチーム画面の各チームの箱*/
.teams_place_box_a_team {
/*	background-color: yellow;*/
	width: 90%;
	margin: 0 auto;
	padding: 1% 2%;
	border-top: solid 2px #808080;
}

/*県毎のチーム画面のテーブルの1行*/
.teams_place_box_a_team td:nth-child(1) {
	width: 100px;
}

/*県毎のチーム画面のテーブルの1行*/
.teams_place_box_a_team td:nth-child(2) {
	width: 200px;
	padding-left: 3%;
}

/*県毎のチーム画面のテーブルの1行*/
.teams_place_box_a_team td:nth-child(3) {
	width: 150px;
}








































/*****************************************スマホ対応********************/
@media screen and (max-width:425px) {




/*----------------------------------------------チームの新規作成画面----------------------------------------------*/

/*チーム新規作成の箱*/
.teams_new_box {
/*	background-color: grey;*/
/*	height: 600px;*/
	width: 100%;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 5%;
	background-color: white;
    border: 2px solid #DDD
}

/*チーム新規作成の箱の幅*/
.teams_new_box_wide {
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
}

/*チーム新規作成画面のチーム名入力フォームの位置*/
.teams_new_box_team_name_form_position {
/*	height: 40px;
	background-color: red;*/
	width: 100%;
	margin-bottom: 10%;
}

/*チーム新規作成画面のチーム名入力フォーム*/
.teams_new_box_team_neme_form{
	width: 100%;
	height: 30px;
	font-size: 14px;
	color: #333333;
	outline: none;
}

#teams_new_box_team_image_form {
	display:none;
}

/*チーム新規作成画面の画像のプレビュー表示*/
.teams_new_box_team_image_preview{
	width: 300px;
	height: 300px;
	border: dotted 2px #666666;
	margin-bottom: 5%;
	background-color: #CCCCCC;
}

.teams_new_box_team_image_preview p {
	line-height: 300px;
	text-align: center;
}

.teams_new_box_team_image_preview:hover {
	cursor: pointer;
}

.teams_new_box_preview_image {
	width: 100%;
	height: 100%;
	vertical-align: top;
}



/*チーム新規作成画面の都道府県選択フォームの位置*/
.teams_new_box_place_form_position {
/*	background-color: pink;*/
	height: 50px;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 8%;
}


/*チーム新規作成画面の新規作成ボタンの位置*/
.teams_new_box_new_team_btn_position {
	text-align: center;
}

/*チーム新規作成画面の新規作成ボタン*/
.teams_new_box_new_team_btn {
	margin-bottom: 3%;
	padding: 2%;
	width: 300px;
	background-color: #00D868;
	color: white;
}

/*チーム新規作成画面の新規作成ボタンにマウスを置いたとき*/
.teams_new_box_new_team_btn:hover {
	background: linear-gradient(to bottom, #00F275, #00FF7F);
	cursor: pointer;
}

/*チーム新規作成画面の新規作成ボタンを押したとき*/
.user_mypage_edit_right_box_save_btn:active {
	outline: none;
}





}

















